
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e1fad2;
}
.container{
    background-color: #ecf0f3;
    color: black;
    padding: 10px ;
    width: 25%;
    height: 400px;
    border-radius: 20px;
    border: 1px solid #a8cff18c;
    box-shadow: -5px -5px 5px #fff, 5px 5px 12px rgba(0, 0, 0, 0.14);
    
}
.container h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid blue;
}
.inputfield{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
   
}

.field{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    font-size:1.5rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.selectors{
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}
.btn{
    margin-top: 30px;
    text-align: center;   
    
}
.btn button{
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(100, 16, 209);
    border-radius: 6px;
    background-color: #4dacff59;
    cursor: pointer;
}
label{
    font-size: medium;
    font-weight: 600;
}
